
.newstyle {
    background-color: mediumslateblue;
}

.btn {
    border-radius: 4px;
}

/* Hamburger menu or responsive menu */

nav {
    display: flex;
    flex-direction: column;
    position: absolute;
}

a {
    display: none;
    padding: 15px;
}

a:first-child{
    display:block;
    text-decoration: none;
    font-size: 2em;
}

.responsive a {
    display: block;
}

@media screen and (min-width: 650px){
    a:first-child {
        display: none;
    }

    a {
        display: block;
    }

    nav{
        flex-direction: row;
    }
}