@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Noto+Serif&display=swap');


div {
    border: solid 1px black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 450px;
}

header {
    border-bottom: solid 2px black;
    margin-bottom: 10px;
}


#hero {
    max-width: 100%;
}

/*Hamburger Menu*/
nav {
    flex-direction: column;
    position: absolute;
    display: inline-flex;
    position:absolute; right:10px;
    margin-top: 25px;
}

nav a {
    padding: 50px;
    display: none;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: 'Calistoga', cursive;
    
}

nav a:hover {
    text-decoration: underline;
    color: #0FA3B1
}

nav a:first-child{
    display:block;
    text-decoration: none;
    font-size: 2em;
}

.responsive a {
    display: block;
    background-color: white;
    border: solid 1px black;
}
/*End Hamburger menu*/

/*Footer CSS*/
footer {
    border-top: solid 2px black;
    margin-top: 10px;
    background-color: #0FA3B1;
    color: white;
    
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 15px;
}

#break {
    display: none;
}

footer a {
    color: white;
}

footer div {
    margin: 20px;
    border: none;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

footer b {
    font-size: 1.5em;
}

.contact {
    margin-top: 20px;
}

.contact b {
    font-family: 'Calistoga', cursive;
}

.directions b {
    font-family: 'Calistoga', cursive;
}

footer p {
    font-family: 'Noto Serif', serif;
}

.social_media {
    margin-top: 40px;
}

/*End footer*/

/*Home Page*/
#weather img {
    display: none; 
}

#californiainfo, #weather, #calltoaction {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#californiainfo h2 {
    text-align: center;
    font-family: 'Calistoga', cursive;
}

#californiainfo p {
    margin-left: 75px;
    margin-right: 75px;
    font-family: 'Noto Serif', serif;
}

.forecast {
    margin-left: 240px;
    margin-top: -185px;
    max-width: 200px;
    border: none;
    font-family: 'Noto Serif', serif;
}

.description, .temperature, .humidity {
    margin-left: 50px;
    margin-top: 25px;
    font-family: 'Noto Serif', serif;
}

button {
    width: 50%;
    background-color: #F7A072;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 110px;
    font-family: 'Noto Serif', serif;
}

button:hover {
    background-color: #e37b43;
}

#linktofresh {
    text-align: center;
    font-size: 18px;
    font-family: 'Noto Serif', serif;
}

#drinksordered {
    margin-top: -10px;
    margin-left: 105px;
    font-family: 'Calistoga', cursive;
}

.freshInfo {
    margin-left: 345px;
    margin-top: -59px;
    font-family: 'Noto Serif', serif;
}

/*Fresh Content*/
.content {
    border: none;
    margin-bottom: 325px;
}

form {
    min-width: 300px;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Noto Serif', serif;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-left: 100px;
}
  
input[type=submit] {
    width: 100%;
    background-color: #F7A072;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Noto Serif', serif;
}
  
input[type=submit]:hover {
    background-color: #e37b43;
}

.formOutput {
    border: none;
    margin-bottom: 500px;
}

.formOutput > * {
    text-align: center;
    font-family: 'Noto Serif', serif;
}

/*About us Content*/

#aboutus-content {
    margin: 50px 100px 50px 100px;
    font-family: 'Noto Serif', serif;
}

#aboutus-content p {
    font-size: 20px;
}

#aboutus-content b {
    font-family: 'Calistoga', cursive;
    font-size: 20px;
}

iframe {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
}

hr {
    size: "8";
    width: "90%";
    color: black;
}
